In [1]:
# Use to install mysql connector API if not installed
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (8.3.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [2]:
# use to import the mysql connector API
import mysql.connector as connector

In [16]:
# Establish connection b/w Python and MySQL database via connector API
connection = connector.connect(user = "keerthana", password = "keerthana",database="LittleLemonAnalysis")

In [17]:
# Create a cursor object to communicate with entire MySQL database
cursor = connection.cursor()

In [18]:
# Set the little_lemon database for use 
cursor.execute("USE LittleLemonAnalysis")

In [19]:
# Confirm the database in use
connection.database

'littlelemonanalysis'

In [20]:
# Task 1 show your database tables

# create SQL query as a string object and add to a variable
show_tables_query = """SHOW tables"""

In [21]:
# execute the query
cursor.execute(show_tables_query)

In [22]:
# fetch the results from the cursor
results = cursor.fetchall()

In [23]:
# Retrieve the column names
cols = cursor.column_names[1:]

In [24]:
# print column names and the records from results using for loop
print("Tables in the little_lemon_db database:")
print("--------------------------------------")
print(cols)
for result in results:
    print(result)

Tables in the little_lemon_db database:
--------------------------------------
()
('Bookings',)
('Customer',)
('Menu',)
('OrderDeliveryStatus',)
('Orders',)
('ordersview',)
('Staff',)

In [28]:
sql_query = """
SELECT 
    CONCAT(C.GuestFirstName, ' ', C.GuestLastName) AS FullName,
    C.Contact,
    O.TotalCost
FROM Customer C
JOIN Bookings B ON C.CustomerID = B.CustomerID
JOIN Orders O ON B.BookingID = O.BookingID
WHERE O.TotalCost > 60;


"""
cursor.execute(sql_query)
results = cursor.fetchall()
cols = cursor.column_names
print("Customers with orders greater than $60:")
print("---------------------------------------")
print(cols)
for result in results:
    print(result)

Customers with orders greater than $60:
---------------------------------------
('FullName', 'Contact', 'TotalCost')
('John Doe', 'john.doe@example.com', Decimal('110'))
('Jane Smith', 'jane.smith@example.com', Decimal('195'))
('Emily Jones', 'emily.jones@example.com', Decimal('100'))
('Michael Brown', 'michael.brown@example.com', Decimal('120'))
('Sarah Davis', 'sarah.davis@example.com', Decimal('140'))
('William Miller', 'william.miller@example.com', Decimal('190'))
('Olivia Wilson', 'olivia.wilson@example.com', Decimal('110'))
('James Taylor', 'james.taylor@example.com', Decimal('150'))
('Christopher Thomas', 'christopher.thomas@example.com', Decimal('180'))

In [29]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed.")

The cursor is closed.
MySQL connection is closed.